In [54]:
#imports

import numpy as np
import pandas as pd
import os
import urllib
%matplotlib inline

In [55]:
#sourcing and creating required directories (part 1)

url = "https://covid19.who.int/WHO-COVID-19-global-data.csv"
file_path = os.path.join("data","covid")    #data? covid? #join what?
#data is a new folder created in the directory ds, and covid is a new file in data

In [56]:
#sourcing and creating required directories (part 2)

os.makedirs(file_path, exist_ok=True)   #executing the folder/file addition
csv_path = os.path.join(file_path, "WHO-COVID-19-global-data.csv")
urllib.request.urlretrieve(url, csv_path)   #requesting the website(?) to give us the data and save it to the local path csv_path

('data\\covid\\WHO-COVID-19-global-data.csv',
 <http.client.HTTPMessage at 0x22703eba230>)

In [57]:
df =pd.read_csv(csv_path)   #read the csv file saved under object name that refers to the data saved locally

In [58]:
df  #df means dataframe

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
264013,2023-01-16,ZW,Zimbabwe,AFRO,0,259947,0,5635
264014,2023-01-17,ZW,Zimbabwe,AFRO,0,259947,0,5635
264015,2023-01-18,ZW,Zimbabwe,AFRO,0,259947,0,5635
264016,2023-01-19,ZW,Zimbabwe,AFRO,0,259947,0,5635
264017,2023-01-20,ZW,Zimbabwe,AFRO,0,259947,0,5635

In [59]:
df_index = df.index
df_index

RangeIndex(start=0, stop=264018, step=1)

In [60]:
df_cols = df.columns
df_cols
#dtype == object since all data inside the list are strings

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [61]:
df_index.values #returns a numpy array #and what? as in, what are these values representative of?

array([     0,      1,      2, ..., 264015, 264016, 264017], dtype=int64)

In [62]:
df.values

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2023-01-18', 'ZW', 'Zimbabwe', ..., 259947, 0, 5635],
       ['2023-01-19', 'ZW', 'Zimbabwe', ..., 259947, 0, 5635],
       ['2023-01-20', 'ZW', 'Zimbabwe', ..., 259947, 0, 5635]],
      dtype=object)

In [63]:
df.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [64]:
df.shape #shape of the matrix #rows x columns

(264018, 8)

In [65]:
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [66]:
df.tail()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
264013,2023-01-16,ZW,Zimbabwe,AFRO,0,259947,0,5635
264014,2023-01-17,ZW,Zimbabwe,AFRO,0,259947,0,5635
264015,2023-01-18,ZW,Zimbabwe,AFRO,0,259947,0,5635
264016,2023-01-19,ZW,Zimbabwe,AFRO,0,259947,0,5635
264017,2023-01-20,ZW,Zimbabwe,AFRO,0,259947,0,5635

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264018 entries, 0 to 264017
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      264018 non-null  object
 1   Country_code       262904 non-null  object
 2   Country            264018 non-null  object
 3   WHO_region         264018 non-null  object
 4   New_cases          264018 non-null  int64
 5   Cumulative_cases   264018 non-null  int64
 6   New_deaths         264018 non-null  int64
 7   Cumulative_deaths  264018 non-null  int64
dtypes: int64(4), object(4)
memory usage: 16.1+ MB

In [68]:
df.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  2.640180e+05      2.640180e+05  264018.000000       2.640180e+05
mean   2.513618e+03      1.072866e+06      25.426649       1.547616e+04
std    1.609865e+04      5.030445e+06     145.701249       6.769664e+04
min   -1.283800e+04      0.000000e+00   -2437.000000       0.000000e+00
25%    0.000000e+00      9.530000e+02       0.000000       1.000000e+01
50%    1.600000e+01      2.336050e+04       0.000000       2.880000e+02
75%    4.200000e+02      2.938328e+05       4.000000       4.460000e+03
max    1.265520e+06      1.003045e+08   11447.000000       1.088854e+06

In [69]:
df["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
264013       Zimbabwe
264014       Zimbabwe
264015       Zimbabwe
264016       Zimbabwe
264017       Zimbabwe
Name: Country, Length: 264018, dtype: object

In [70]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'CÃ´te dâ€™Ivoire', 'Croatia', 'Cuba', 'CuraÃ§ao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'RÃ©union', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint BarthÃ©lemy',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'TÃ¼rkiye', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [71]:
df. columns= [col.strip()for col in df.columns]
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [72]:
df["Country"]

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
264013       Zimbabwe
264014       Zimbabwe
264015       Zimbabwe
264016       Zimbabwe
264017       Zimbabwe
Name: Country, Length: 264018, dtype: object

In [73]:
df["Country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'CÃ´te dâ€™Ivoire', 'Croatia', 'Cuba', 'CuraÃ§ao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'RÃ©union', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint BarthÃ©lemy',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'TÃ¼rkiye', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [74]:
df.Country

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
264013       Zimbabwe
264014       Zimbabwe
264015       Zimbabwe
264016       Zimbabwe
264017       Zimbabwe
Name: Country, Length: 264018, dtype: object

df.loc[row_indexer, column_indexer]

In [75]:
df.loc[1:4,'Country']

1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: Country, dtype: object

In [76]:
df.loc[1:8,'New_Cases']

KeyError: 'New_Cases'

In [ ]:
df.Country=='United States of America'

0         False
1         False
2         False
3         False
4         False
          ...
264013    False
264014    False
264015    False
264016    False
264017    False
Name: Country, Length: 264018, dtype: bool

In [ ]:
df[df.Country =='United States of America']

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
251764,2020-01-03,US,United States of America,AMRO,0,0,0,0
251765,2020-01-04,US,United States of America,AMRO,0,0,0,0
251766,2020-01-05,US,United States of America,AMRO,0,0,0,0
251767,2020-01-06,US,United States of America,AMRO,0,0,0,0
251768,2020-01-07,US,United States of America,AMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
252873,2023-01-16,US,United States of America,AMRO,0,100304472,0,1088854
252874,2023-01-17,US,United States of America,AMRO,0,100304472,0,1088854
252875,2023-01-18,US,United States of America,AMRO,0,100304472,0,1088854
252876,2023-01-19,US,United States of America,AMRO,0,100304472,0,1088854
252877,2023-01-20,US,United States of America,AMRO,0,100304472,0,1088854

In [ ]:
df[df.New_deaths > 1000]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
26985,2020-09-08,BO,Bolivia (Plurinational State of),AMRO,528,120769,1610,7008
31331,2020-05-21,BR,Brazil,AMRO,17408,271628,1179,17971
31333,2020-05-23,BR,Brazil,AMRO,18508,310087,1188,20047
31334,2020-05-24,BR,Brazil,AMRO,20803,330890,1001,21048
31338,2020-05-28,BR,Brazil,AMRO,16324,391222,1039,24512
...,...,...,...,...,...,...,...,...
252842,2022-12-16,US,United States of America,AMRO,445965,98528446,2568,1076894
252849,2022-12-23,US,United States of America,AMRO,507582,99036028,2945,1079839
252856,2022-12-30,US,United States of America,AMRO,391940,99427968,2396,1082235
252863,2023-01-06,US,United States of America,AMRO,469469,99897437,2669,1084904
252870,2023-01-13,US,United States of America,AMRO,407035,100304472,3950,1088854

In [ ]:
df.loc[df.New_deaths > 1000, ['New deaths','Country']]

KeyError: "['New deaths'] not in index"

In [ ]:
df.loc[(df.New_deaths > 1000) & (df.country_code=='US'), ['Date Reported', 'Country', 'New_cases','New_deaths','Cumulative_deaths']]

AttributeError: 'DataFrame' object has no attribute 'country_code'

In [ ]:
df.loc[df.Country_code=='US', ['New_cases']].max()

New_cases    1265520
dtype: int64

In [77]:
df.loc[df.country_code=='US' , [ 'New_cases']] .min()

AttributeError: 'DataFrame' object has no attribute 'country_code'

In [79]:
df.loc[df.country_code=='US' , [ 'New_cases']] . sum()

AttributeError: 'DataFrame' object has no attribute 'country_code'

In [80]:
df.loc[df.Country_code=='US' , [ 'New_deaths']] . sum()

New_deaths    1088854
dtype: int64

In [81]:
df.loc[df.Country_code=='US' , [ 'Cumulative_deaths ' ] ] .max()

KeyError: "None of [Index(['Cumulative_deaths '], dtype='object')] are in the [columns]"

In [82]:
df. New_deaths. idxmax()

46483

In [83]:
df. loc[df. New_deaths . idxmax() , [ ' Date_reported ',' Country']]

KeyError: "None of [Index([' Date_reported ', ' Country'], dtype='object')] are in the [index]"

In [86]:
df[df['New deaths'] < 0]

KeyError: 'New deaths'

In [85]:
df['pct_cases'] = (df['New_cases']/df['Cumulative_cases'])*100
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,pct_cases
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0,NaN
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0,NaN
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0,NaN
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0,NaN
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...
264013,2023-01-16,ZW,Zimbabwe,AFRO,0,259947,0,5635,0.0
264014,2023-01-17,ZW,Zimbabwe,AFRO,0,259947,0,5635,0.0
264015,2023-01-18,ZW,Zimbabwe,AFRO,0,259947,0,5635,0.0
264016,2023-01-19,ZW,Zimbabwe,AFRO,0,259947,0,5635,0.0
264017,2023-01-20,ZW,Zimbabwe,AFRO,0,259947,0,5635,0.0